[submodule "src/micro_ros_setup"]
	path = src/micro_ros_setup
	url = git@github.com:micro-ROS/micro_ros_setup.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
